#back{
top: 40px;
left: 220px;
background-color: rgb(184, 209, 247);
}

#field{
position: absolute;
top: 120px;
left: 520px;
text-align: center;
background-color: rgb(229, 241, 255);
border-color: rgb(0, 149, 255);
}

#history{
margin-left: 350px;
top: 85px;
left: 240px;
text-align: center;
background-color: rgb(216, 213, 213);
}
/* 全体 */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f4f5f7;
    color: #333;
    margin: 0;
    padding: 0;
}

/* ヘッダー */
header {
    background-color: #4a6fa5;
    color: white;
    padding: 5px 0;
    text-align: center;
}

/* メイン */
main {
    background-color:whitesmoke;
    padding: 5px 0;
    text-align: center;
}


.btn {
    padding: 10px 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* #button-area {
  display: flex;
  justify-content: center; 
  gap: 16px;               
  margin-top: 20px;       
} */


/* フッター */
footer {
    text-align: center;
    padding: 15px 0;
    color: #666;
}

.move-clickable { cursor: pointer; outline: 2px solid #4a90e2; }
.move-source { background-color: #ffd166 !important; }
.move-candidate { background-color: #c7f9cc !important; }
.move-destination { background-color: #80ed99 !important; }
