#back{
position: relative;
top: 45px;
left: 240px;
background-color: rgb(246, 173, 173);
}
#back{
position: relative;
top: 40px;
left: 220px;
background-color: rgb(184, 209, 247);
}
#feild{
position: absolute;
top: 80px;
left: 380px;
text-align: center;
background-color: rgb(251, 230, 230);
border-color: rgb(255, 68, 0);
}
#field{
position: absolute;
top: 80px;
left: 380px;
text-align: center;
background-color: rgb(229, 241, 255);
border-color: rgb(0, 149, 255);
}
#history{
position: relative;
top: 85px;
left: 240px;
text-align: center;
background-color: rgb(216, 213, 213);
}
h3{
    position: absolute;
    left: 225px;
    top: 515px;
}
/* 全体 */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f4f5f7;
    color: #333;
    margin: 0;
    padding: 0;
}

/* ヘッダー */
header {
    background-color: #4a6fa5;
    color: white;
    padding: 5px 0;
    text-align: center;
}

/* メイン */
main {
    background-color:whitesmoke;
    padding: 5px 0;
    text-align: center;
}


.btn {
    padding: 10px 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* #button-area {
  display: flex;
  justify-content: center; 
  gap: 16px;               
  margin-top: 20px;       
} */


/* フッター */
footer {
    text-align: center;
    padding: 15px 0;
    color: #666;
}
